<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-VN3BwHV8I9vpb26I/Q6xMq8t8IeSd6AsoaWqAYFF/ThHpARLISmbnLFwMmzyWJ84hJqf8Z6/0+TUJo9I+3OTKg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon/logo.png') }}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Numetry coaching</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script>
		$(window).on('scroll', function () {
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			} else {
				$('nav').removeClass('black');
			}
		});
	</script>
	<style>
		body {
			font-family: "Roboto Slab", serif;
		}

		.sidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #fff;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		}

		.sidenav a {
			padding: 30px 30px 30px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #070707;
			display: block;
			transition: 0.3s;
		}

		.sidenav a:hover {
			color: #ed3737;
		}

		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}

		.logocopy {
			width: 200px;
		}

		#main {
			transition: margin-left .5s;
			padding: 16px;
		}


		.plus {

			width: 50px;
			height: 50px;
			color:white;
			padding-top: 15px;
			padding-left: 20px;
			border-radius: 20px;
			background-color: navy;
		}

		@media screen and (max-height: 450px) {
			.sidenav {
				padding-top: 15px;
			}

			.sidenav a {
				font-size: 18px;
			}
		}


		.blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.blog-post {
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.blog-post h3 {
    margin-top: 20px;
    font-size: 24px;
}

.blog-post p {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}

.blog-post .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed3737;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.blog-post .read-more:hover {
    background-color: #d32f2f;
}

		
	</style>
	
</head>

<body>
	<!-- Navigation Bar -->
	<header id="header">
		<nav>
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

				<li><a href="#about_section"><i class="fas fa-info-circle"></i> About</a></li>
				<li><a href="#portfolio_section"><i class="fas fa-blog"></i> Blog</a></li>
				<li><a href="#team_section"><i class="fas fa-users"></i> Faculty</a></li>
				<li><a href="#services_section"><i class="fas fa-book-open"></i> Courses</a></li>
				<li><a href="#contactus_section"><i class="fas fa-envelope"></i> Contact</a></li>
				<li><a href="#feedBACK"><i class="fas fa-comment-alt"></i> Feedback</a></li>

			</div>
			<div class="logo" onclick="openNav()">
				<img src="{{ url_for('static', filename='images/icon/logo.png') }}" alt="logo">
			</div>
			<ul>
				<li><a class="active" href="">Home</a></li>
				<li><a href="#portfolio_section">Blog</a></li>
				<li><a href="#team_section">Faculty</a></li>
				<li><a href="#services_section">Courses</a></li>
				<li><a href="#contactus_section">Contact</a></li>
			</ul>
			<div class="srch">
				<input type="text" class="search" placeholder="Search here...">
				<img src="{{ url_for('static', filename='images/icon/search.png') }}" alt="search"
					onclick=slide()>
			</div>
			<a class="get-started" href="login.html">Get Started Course</a>
		</nav>
		<div class="head-container">
			<div class="quote">
				<p>Some random data about numetry</p>
				<h5>Something matter about organization</h5>
				<div class="play">
					<img src="{{ url_for('static', filename='images/icon/play.png') }}" alt="play">
					<span><a href="https://www.youtube.com" target="_blank">Watch Now</a></span>
				</div>
			</div>
			<div class="svg-image">
				<img src="{{ url_for('static', filename='images/extra/svg1.jpg') }}" alt="svg">
			</div>
		</div>
	</header>

	<!-- Some Popular Subjects -->
	<div class="title">
		<span>Popular Subjects on LearnEd</span>
	</div>
	<br><br>
	<div class="course">
		<center>
			<div class="cbox">
				<div class="det"><a href="#"><img
							src="{{ url_for('static', filename='images/courses/book.png') }}">Course 1</a>
				</div>
				<div class="det"><a href="#"><img
							src="{{ url_for('static', filename='images/courses/book.png') }}">Course 2</a>
				</div>
				<div class="det"><a href="#"><img
							src="{{ url_for('static', filename='images/courses/book.png') }}">Course 3</a>
				</div>
				<div class="det"><a href="#"><img
							src="{{ url_for('static', filename='images/courses/book.png') }}">Course 4</a>
				</div>
			</div>
		</center>
		<div class="cbox">
			<div class="det"><a href="#"><img
						src="{{ url_for('static', filename='images/courses/book.png') }}">Course 5</a></div>
			<div class="det"><a href="#"><img
						src="{{ url_for('static', filename='images/courses/book.png') }}">Course 6</a></div>
			<div class="det"><a href="#"><img
						src="{{ url_for('static', filename='images/courses/book.png') }}">Course 7</a></div>
			<div class="det det-last"><a href="#"><img
						src="{{ url_for('static', filename='images/courses/book.png') }}">Course 8</a></div>
		</div>
	</div>

	<!-- ABOUT -->
	<div class="diffSection" id="about_section">
		<center>
			<p style="font-size: 50px; padding: 100px">About</p>
		</center>
		<div class="about-content">
			<div class="side-image">
				<img class="sideImage" src="{{ url_for('static', filename='images/extra/e3.jpg') }}">
			</div>
			<div class="side-text">
				<h2>What you think about us ?</h2>
				<p>Education is the process of facilitating learning.</p>
			</div>
		</div>
	</div>


	<!-- PORTFOLIO -->
	<div class="diffSection" id="portfolio_section">
		<center>
			<p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">Portfolio</p>
		</center>
		<div class="content">
			<p>
				“Education is the passport to the future.”
			</p>
		</div>
	</div>
	<div class="extra">
		<p>We're increasing this data every year</p>
		<div class="smbox">
			<span>
				<center>
					<div class="data">154</div>
					<div class="det">Enrolled Students</div>
				</center>
			</span>
			<span>
				<center>
					<div class="data">62</div>
					<div class="det">Total Courses</div>
				</center>
			</span>
			<span>
				<center>
					<div class="data">56</div>
					<div class="det">Placed Students</div>
				</center>
			</span>
			<span>
				<center>
					<div class="data">27</div>
					<div class="det">Total Projects</div>
				</center>
			</span>
		</div>
	</div>
		<!-- BLOG -->
<div class="diffSection" id="blog_section">
    <center>
        <p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">Our Blog</p>
    </center>
    <div class="blog-container">
        <div class="blog-post">
            <img src="{{ url_for('static', filename='images/blog/blog1.jpg') }}" alt="Blog 1">
            <h3>Blog Post 1</h3>
            <p>A brief description of the blog post goes here. It should be engaging and informative.</p>
            <a href="#" class="read-more">Read More</a>
        </div>
        <div class="blog-post">
            <img src="{{ url_for('static', filename='images/blog/blog2.jpg') }}" alt="Blog 2">
            <h3>Blog Post 2</h3>
            <p>A brief description of the blog post goes here. It should be engaging and informative.</p>
            <a href="#" class="read-more">Read More</a>
        </div>
        <div class="blog-post">
            <img src="{{ url_for('static', filename='images/blog/blog3.jpg') }}" alt="Blog 3">
            <h3>Blog Post 3</h3>
            <p>A brief description of the blog post goes here. It should be engaging and informative.</p>
            <a href="#" class="read-more">Read More</a>
        </div>
		<div class="blog-post">
            <img src="{{ url_for('static', filename='images/blog/blog3.jpg') }}" alt="Blog 3">
            <h3>Blog Post 3</h3>
            <p>A brief description of the blog post goes here. It should be engaging and informative.</p>
            <a href="#" class="read-more">Read More</a>
        </div>
    </div>
</div>








	<!-- TEAM -->
	<div class="diffSection" id="team_section">
		<center>
			<p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">We're the Faculty</p>
		</center>
		<div class="totalcard">
			
			<div class="card">
				<center><img src="{{ url_for('static', filename='images/extra/sushil photo.png') }}"></center>
				<center>
					<div class="card-title">Jaya Shanker</div>
					<div id="detail">
						<p>“ something matter “</p>
						<div class="duty"></div>
						<a href="https://www.linkedin.com/in/jaya-shankar-kesanakurti-9445ba238/" target="_blank"><button
								class="btn-roshan">Follow +</button></a>
					</div>
				</center>
			</div>
			<div class="card">
				<center><img src="{{ url_for('static', filename='images/extra/tcsphoto.jpg') }}"></center>
				<center>
					<div class="card-title">Rutuja Surade</div>
					<div id="detail">
						<p>“ something matter “</p>
						<div class="duty"></div>
						<a href="https://www.linkedin.com/in/rutuja-surade-6574a81b6/"
							target="_blank"><button class="btn-roshan">Follow +</button></a>
					</div>
				</center>
			</div>
			<div class="card">
				<center><img src="{{ url_for('static', filename='images/extra/bhushan pp.jfif') }}"></center>
				<center>
					<div class="card-title">Bhushan Patil</div>
					<div id="detail">
						<p>“ something matter “</p>
						<div class="duty"></div>
						<a href="https://www.linkedin.com/in/bhushan-patil-56b251259/"
							target="_blank"><button class="btn-roshan">Follow +</button></a>
					</div>
				</center>
			</div>
			<div class="card">
				<center><img src="{{ url_for('static', filename='images/extra/vishal patil.jpg') }}"></center>
				<center>
					<div class="card-title">Vishal Patil</div>
					<div id="detail">
						<p>“ something matter “</p>
						<div class="duty"></div>
						<a href="https://www.linkedin.com/in/vishal-patil-8344bb252/" target="_blank"><button
								class="btn-roshan">Follow +</button></a>
					</div>
				</center>
			</div>
			

			<div class="plus">

				<a href="#contactus_section"><i class="fa fa-plus" aria-hidden="true"></i></a>

				 
				<!-- <button id="add-content-button"><i class="fa fa-plus" aria-hidden="true"></i> Add Content</button> -->
			</div>
		</div>
	</div>


	<!-- SERVICES -->
	<div class="service-swipe">
		<div class="diffSection" id="services_section">
			<center>
				<p style="font-size: 50px; padding: 100px; padding-bottom: 40px; color: #fff;">Services</p>
			</center>
		</div>
		<a href="{{ url_for('form') }}">
			<div class="s-card"><img src="{{ url_for('static', filename='images/icon/computer-courses.png') }}">
				<p>Course 1 Book now</p>
			</div>
		</a>
		<a href="{{ url_for('form') }}">
			<div class="s-card"><img src="{{ url_for('static', filename='images/icon/computer-courses.png') }}">
				<p>Course 2 Book now</p>
			</div>
		</a>
		<a href="{{ url_for('form') }}">
			<div class="s-card"><img src="{{ url_for('static', filename='images/icon/computer-courses.png') }}">
				<p>Course 3 Book now</p>
			</div>
		</a>
		<a href="{{ url_for('form') }}">
			<div class="s-card"><img src="{{ url_for('static', filename='images/icon/computer-courses.png') }}">
				<p>Course 4 Book now</p>
			</div>
		</a>
		<a href="{{ url_for('form') }}">
			<div class="s-card"><img src="{{ url_for('static', filename='images/icon/computer-courses.png') }}">
				<p>Course 5 Book now</p>
			</div>
		</a>
		<a href="{{ url_for('form') }}">
			<div class="s-card"><img src="{{ url_for('static', filename='images/icon/computer-courses.png') }}">
				<p>Course 6 Book now</p>
			</div>
		</a>
		<a href="{{ url_for('form') }}">
			<div class="s-card"><img src="{{ url_for('static', filename='images/icon/computer-courses.png') }}">
				<p>Course 7 Book now</p>
			</div>
		</a>
	</div>

	<!-- Reviews by Students -->
	<div id="makeitfull">
		<a href="#review_section"><img src="{{ url_for('static', filename='images/icon/makeitfull.png') }}"></a>
	</div>
	<div class="review">
		<div class="diffSection" id="review_section">
	<center><p style="font-size: 40px; padding: 100px; padding-bottom: 40px; color: #2E3D49;">What the	Students Say About Us?</p></center>
		</div>
		<div class="rev-container">
			<div class="rev-card">
				<div class="identity">
					<img src="{{ url_for('static', filename='images/creator/humanNotExist2.jpg') }}">
					<!-- <p>JAYA</p> -->
					<h1 class="title-small">Kuldip Rajput</h1>
					<div class="rating"><img src="images/icon/star.png">
						</div>
				</div>
				<div class="rev-cont">
					<p id="title">Review:</p>
					<p id="content">
						I did Java Fundamenetal course with bhushan Sir.
					</p>
				</div>
			</div>
			<div class="rev-card">
				<div class="identity">
					<img src="{{ url_for('static', filename='images/creator/humanNotExist2.jpg') }}">
					<p>jaya</p>
					<h6>Java</h6>
					<div class="rating"><img src="images/icon/star.png"><img src="images/icon/star.png"><img
							src="images/icon/star.png"><img src="images/icon/star.png"><img
							src="images/icon/star.png"></div>
				</div>
				<div class="rev-cont">
					<p id="title">Review:</p>
					<p id="content">
						I did Java Fundamenetal course with bhushan Sir.
					</p>
				</div>
			</div>
			<div class="rev-card">
				<div class="identity">
					<img src="{{ url_for('static', filename='images/creator/humanNotExist2.jpg') }}">
					<p>jaya</p>
					<h6>Java</h6>
					<div class="rating"><img src="images/icon/star.png"><img src="images/icon/star.png"><img
							src="images/icon/star.png"><img src="images/icon/star.png"><img
							src="images/icon/star.png"></div>
				</div>
				<div class="rev-cont">
					<p id="title">Review:</p>
					<p id="content">
						I did Java Fundamenetal course with bhushan Sir.
					</p>
				</div>
			</div>
			<div class="rev-card">
				<div class="identity">
					<img src="{{ url_for('static', filename='images/creator/humanNotExist2.jpg') }}">
					<p>shankar</p>
					<h6>Java</h6>
					<div class="rating"><img src="images/icon/star.png"><img src="images/icon/star.png"><img
							src="images/icon/star.png"><img src="images/icon/star.png"><img
							src="images/icon/star.png"></div>
				</div>
				<div class="rev-cont">
					<p id="title">Review:</p>
					<p id="content">
						I did Java Fundamenetal course with bhushan Sir.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTACT US -->
	<div class="diffSection" id="contactus_section">
		<center>
			<p style="font-size: 50px; padding: 100px">Contact Us</p>
		</center>
		<div class="csec"></div>
		<div class="back-contact">
			<div class="cc">
				<form action="mailto:kjshankar77@gmail.com" method="post" enctype="text/plain">
					<label>First Name <span class="imp">*</span></label><label style="margin-left: 185px">Last
						Name <span class="imp">*</span></label><br>
					<center>
						<input type="text" name="" style="margin-right: 10px; width: 175px"
							required="required"><input type="text" name="lname" style="width: 175px"
							required="required"><br>
					</center>
					<label>Email <span class="imp">*</span></label><br>
					<input type="email" name="mail" style="width: 100%" required="required"><br>
					<label>Message <span class="imp">*</span></label><br>
					<input type="text" name="message" style="width: 100%" required="required"><br>
					<label>Additional Details</label><br>
					<textarea name="addtional"></textarea><br>
					<button type="submit" id="csubmit">Send Message</button>
				</form>
			</div>
		</div>
	</div>


	<!-- FEEDBACK -->
	<div class="title2" id="feedBACK">
		<span>Give Feedback</span>
		<div class="shortdesc2">
			<p>Please share your valuable feedback to us</p>
		</div>
	</div>

	<div class="feedbox">
		<div class="feed">
			<form action="mailto:roshank9419@gmail.com" method="post" enctype="text/plain">
				<label>Your Name</label><br>
				<input type="text" name="" class="fname" required="required"><br>
				<label>Email</label><br>
				<input type="email" name="mail" required="required"><br>
				<label>Additional Details</label><br>
				<textarea name="addtional"></textarea><br>
				<button type="submit" id="csubmit">Send Message</button>
			</form>
		</div>
	</div>

	<!-- Sliding Information -->
	<marquee style="background: linear-gradient(to right, #FA4B37, #DF2771); margin-top: 50px;" direction="left"
		onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20">
		<div class="marqu">“Sliding matter of numetry”</div>
	</marquee>

	<!-- FOOTER -->
	<footer>
		<div class="footer-container">
			<div class="left-col">
				<img class="logocopy" src="{{ url_for('static', filename='images/icon/logo - Copy.png') }}">
				<!-- <img src="images/icon/logo - Copy.png" style="width: 200px;"> -->
				<div class="logo"></div>
				<div class="social-media">
					<!-- <a href="#" class="fa-brands fa-facebook"></a> -->
					<a href="#"><img src="{{ url_for('static', filename='images/icon/fb.png') }}"></a>
					<a href="#"><img src="{{ url_for('static', filename='images/icon/insta.png') }}"></a>
					<a href="#"><img src="{{ url_for('static', filename='images/icon/tt.png') }}"></a>
					<a href="#"><img src="{{ url_for('static', filename='images/icon/ytube.png') }}"></a>
					<a href="#"><img src="{{ url_for('static', filename='images/icon/linkedin.png') }}"></a>
				</div>
				<br>
				<br>
				<p class="rights-text">Copyright © 2024 Numetry team jaya.</p>
				<br>
				<p>
					<img src="{{ url_for('static', filename='images/icon/location.png') }}"
						alt="Location Icon">
					Numetry Coaching Maharashtra, Pune <br>
				</p>

				<p><img src="{{ url_for('static', filename='images/icon/phone.png') }}"> 1234567890<br><img
						src="{{ url_for('static', filename='images/icon/mail.png') }}">&nbsp;
					numetry@gmail.com</p>
			</div>

		</div>
	</footer>
	<script>

		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("main").style.marginLeft = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("main").style.marginLeft = "0";
		}
	</script>

</body>

</html>